body, td {
    
}

a {
}

a:hover {
}
.container li {
    list-style: none;
}
.header img {
    width: 100%;
}      

@media (min-width: 1330px) {
    .container {
        width: 1300px;
        padding: 0;
    }
}
.container .jumbotron {
    border-radius: 0;
}
.row {
    margin-left: 0;
    margin-right: 0;
}
.middle-earth {
    padding: 0 13% 4%;
    text-align: center;
}
.middle-earth h1{ font-weight: bold; line-height: 55px;}
.middle-earth span{ 
    font-size: 19px;
    display: block;
    width: 88%;
    margin: 0 auto;
    line-height: 35px;
}
.task-btn li{
    list-style: none;
}
.task-btn li a {
/*    width: 165px;*/
    position: relative;
    display: block;
    text-decoration: none;
    color: #000;
    padding: 5%;
}
.task-btn li a span {
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 7px;
    left: 32px;
}
.middle-earth ul {
    margin-top: 3%;
    padding: 0;
}
.middle-earth ul li{
/*    margin-right: 5%;*/
}
.middle-earth .title .col-md-8{
/*    width: 70%;*/
}
.middle-earth .title .col-md-2{
    width: 14%;
}
.middle-earth{}

.anothercontent{
    background-color: #809097;
    padding: 6% 13% 6% 13%;
    position: relative;
}
.anothercontent p{
    color: #fff;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 1px;
}
.charactor {
    position: absolute;
    bottom: -30%;
    right: -2%;
}

.components{
    background: url('images/componentbackground.png');
    width: auto;
    height: auto;
    padding: 5% 11% 8% 11%;
    color: #fff;
}
.components h3{
    font-weight: bold;
    line-height: 80px;
}
.components span {
    line-height: 30px;
    font-size: 20px;
}
.componentstitle {
    padding: 0 2%;
}
.components p{
        font-size: 16px;
    line-height: 25px;
    letter-spacing: 1px;
}
.components ul {
    padding: 0;
}
.components li {
    list-style: none;
    margin-top: 30px;
}
.components ul.custoimages li{
    margin-top: 0;
}
.components ul.custoimages li:first-child{
    padding-left: 0;
}
.components ul.custoimages li.thumb5{
    padding-right: 0;
}
@media (max-width : 1000px){
    .components ul.custoimages li{
        padding: 0;
    }
    .components ul.custoimages li.thumb5{
        margin-top: 30px;
    }
}
.conc-art {
    margin-top: 21px !important;
}
.components img{
    width: 100%;
}
.middle {
    position: relative;
}

.middle > img{
    width: 100%;
}
.bottom {
    background-color: #000;
    min-height: 800px;
}
.bottom ul, .bottom ul li {
    padding: 0;
}
.bottom li > img {
    width: 100%;
}
.bottom h3 {
    font-size: 23px;
}
.slide {
    width: 50%;
    float: left;
}
.launchbtn {
    position: absolute;
    top: 56%;
    left: 40%;
}
.prev-arrow, .prev-letter {
    float: left;
}
.next-arrow, .next-letter  {
    float: left;
}
.bottom ul li {
    position: relative;
}
.prev, .next {
    position: absolute;
    top: 26%;
    color: #fff;
    width: 100%;
}  
.next {
    right: -15%;
}
.next-letter {
    margin: 6% 0 0 -3%;
}
.next-letter p, .next-letter h3 {
    text-align: right;
}
.prev-letter {
    margin: 6% 0 0 1%;
}
.prev-letter p, .next-letter p {
    text-transform: uppercase;
    font-weight: bold;
}
.prev-letter h3, .next-letter h3 {
    line-height: 0;
}     

@media(max-width: 850px) {
    .prev-letter h3, .next-letter h3 {
        font-size: 18px;         
    }
    .prev-arrow, .next-arrow {
        padding-left: 0;
    }     
    .prev-letter {
        margin: 8% 0 0 -10%;
    }
    .next-letter {
        margin: 8% 0 0 -4%;
    }
}     

@media(max-width: 1200px){
    .container {
        width: 100%;
        padding: 0;
    }  
    .middle-earth {
        padding: 0 0% 4%;
    }  
    .middle-earth span {
        font-size: 22px;
    }
    .middle-earth ul li {
        float: left;
        width: 33.33%;
    }
    .middle-earth ul li:first-child {
        display: none;
    }
    .middle-earth ul li img{
        width: 103%;
    }
    .task-btn li a span {
        font-size: 14px;
        top: 17px;
        left: 19px;
    }
    .charactor {
        display: none;
    }
    .anothercontent {
        padding: 6% 4% 6% 4%;
    }
    .anothercontent p {
        font-size: 22px;
    }
    .components li {
        padding-left: 8%;
        padding-right: 8%;
    }  
    .launchbtn {
        top: 46%;
        left: 35%;
    }  
    .prev-arrow img, .next-arrow img {
        width: 80%;
    }
    .prev-letter p, .next-letter p {
        display: none;
    }
    .prev, .next {
        top: 18%;
    }
}
@media(max-width: 1024px) {      
    .conc-art {
        display: none;
    }  
}
@media (min-width: 851px) and (max-width: 1200px) {
    .prev-letter h3, .next-letter h3 {
        font-size: 21px;         
    }
    .prev-letter {
        margin: 7% 0 0 -7%;
    }
    .next-letter {
        margin: 7% 0 0 -6%;
    }
}
@media(min-width: 1024px) and (max-width: 1199px) {
    .prev-arrow img, .next-arrow img {
        width: 115%;
    }
    .prev-letter h3, .next-letter h3 {
        font-size: 23px;
    }
    .prev, .next {
        top: 23%;
    }
    .prev-letter {
        margin: 7% 0 0 -2%;
    }
}

@media(min-width: 895px) {   
    .components li {
        padding-left: 1%;
        padding-right: 1%;
    }        
}      
@media(max-width: 750px) {
    .prev-arrow img, .next-arrow img {
        width: 60%;
    }
    .prev-letter h3, .next-letter h3 {
        font-size: 16px;
    }
    
}
@media(max-width: 670px) {
    .prev-arrow img, .next-arrow img {
        width: 50%;
    }
    .prev-letter h3, .next-letter h3 {
        font-size: 13px;
    }
    .prev, .next {
        top: 23%;
    }
    .prev-letter {
        margin: 4% 0 0 -21%;
    }
    .next-letter {
        margin: 4% -6% 0 0;
    }
    .next {
        right: -22%;
    }    
    .task-btn li a span {
        font-size: 11px;
        top: 9px;      
    }
    .middle-earth h1 {    
        font-size: 20px;
    }
    .middle-earth span, .anothercontent p, .components span {
        font-size: 15px;
        line-height: 25px;
    }
    
}
@media(max-width: 590px) {
    
    .next-letter, .prev-letter {
        display: none;
    }
    .next-arrow {
       float: right;
    }
    .launchbtn {
        top: 46%;
        left: 42%;
    }
    .launchbtn img {
        width: 50%;
    }   
    
}
@media(max-width: 540px) {
     .task-btn li a span {
        font-size: 10px;
        top: 6px;
     }
}
@media(max-width: 460px) {
    .prev-arrow img, .next-arrow img {
           width: 30%;
    }
    .prev-arrow {
        margin-left: 6%;
    }
    .middle-earth ul li {
        float: none;
        width: 80%;
    }
    .task-btn li a span {
        font-size: 15px;
        top: 27px;
    }
}
@media (min-width: 300px) and (max-width: 380px ) {
    .next-arrow {
        margin-right: -15%;
    }    
}
